[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pylint = "*"

[packages]
flask = "1.1.4"
flask-script = "*"
requests = "*"
gunicorn = "*"
pytest = "*"
flake8 = "*"
yapf = "*"
pytest-docker-compose = "*"
werkzeug = "==1.0.1"
#flask_bootstrap = "*"
#markupsafe = "==2.0.1"
#flask-api = "*"

[requires]
python_version = "3.6"
